* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('бек.jpg'); 
  
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: rgba(149, 164, 252, 0.8);
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 380px;
}
h1{
text-align: center;
font-size: xx-large;
color:rgb(0, 0, 0);
text-shadow:0 0 20px rgb(0, 0, 0) ;
}

    button {
        padding: 17px;
        background-color: rgba(0, 37, 247, 0.8);
        color: rgb(255, 255, 255);
        border: #1100ff;
        border-radius: 30px;
        cursor: pointer;
        margin-top: 10px;
        font-size: larger;
    }
    button:hover {
        background-color: #d56bff;
    }
    #result {
        color: blue;
        font-size: large;
        text-decoration: solid;
        list-style-type: none;
        padding: 0px;
        margin-top: 20px; 
        width: 150px; 
    }
    
    label{
        text-decoration: double;
        font-size: large;
        text-shadow:0 0 20px rgb(76, 0, 255) ;
    }